@model IEnumerable<Agriturismo.Models.Appartament>

@{
    ViewData["Title"] = "ApartmentsDisplay";
}

<h1>ApartmentsDisplay</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_It)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_Us)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoubleBed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraBed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SofàBed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_It)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Us)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoubleBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SofàBed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ApartmentsDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="ApartmentsDelete2" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
